@{
  Layout = "_Layout";
}
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h3>All venues:</h3>
      <hr />
      @if (Model.Count != 0)
      {
        <ul>
        @foreach (var venue in Model)
        {
          <li><a href='/venues/@venue.GetId()'>@venue.GetName(), @venue.GetDescription(), @venue.GetLocation()</a></li>
        }
        </ul>
      }
      <h4><a href="/venues/new">Add new place</a></h4>
      <h4><a href="/">Return to Home</a></h4>
    </div>
  </div>
</div>
